@page "/CurriculoFernanda"
<h3>Curriculo-Fernanda</h3>


<h3>Currículo</h3>
<img src="Fotofernanda.jfif" alt="Foto de Fernanda Gabrieli Pedro Gilvan" width="120px" style="border-radius: 120px;">
<h1>Fernanda Gabrieli Pedro Gilvan</h1>
<p><strong>Idade:</strong> 17 anos</p>
<p><strong>Email:</strong> 123fernandagabriele@gmail.com</p>
<p><strong>Telefone:</strong> (69) 92504783</p>
<p><strong>Endereço:</strong> Rua Padre Cicero, 1117 - Rondonia/RO</p>

<h2>Objetivo</h2>
<p>Buscar uma oportunidade de estágio para adquirir experiência profissional e desenvolver minhas habilidades.</p>

<h2>Formação</h2>
<p>
    Ensino Médio - Instituto Federalo<br>
    Conclusão prevista: Dezembro de 2025
</p>

<h2>Cursos Complementares</h2>
<ul>
    <li>Tecnico Informática</li>

</ul>

<h2>Habilidades</h2>
<ul>
    <li>Organização</li>
    <li>Boa comunicação</li>
    <li>Trabalho em equipe</li>
    <li>Conhecimentos básicos de informática</li>
</ul>

<h2>Atividades Extracurriculares</h2>
<ul>
    <li>Apoio a campanhas de arrecadação (alimentos, roupas, brinquedos)</li>

</ul>


