@page "/CurriculoJoao"
@layout Shared.BaseLayout
<h3>Curriculo João Vitor</h3>


<PageTitle>Curriculo</PageTitle>

<h1> Curriculo de João Vitor Lube Marciel </h1>

<section style="padding: 1rem;">
    <img src="fotoJoao.jpeg" alt="Alternate Text" width="120px" style="border-radius: 120px"/>
    <h2>Informações Pessoais</h2>
    <p><strong>Nome:</strong> João Vitor Lube Marciel</p>
    <p><strong>Idade:</strong> 16 anos</p>
    <p><strong>Formação:</strong> Ensino Médio em andamento</p>
    <p><strong>Instituição:</strong> Instituto Federal Campus Ji-Paraná</p>
    <p><strong>Curso:</strong> Técnico em Informática</p>
</section>

<section style="padding: 1rem;">
    <h2>Habilidades</h2>
    <ul>
        <li>Conhecimento básico em programação web</li>
        <li>HTML e CSS</li>
        <li>Lógica de programação</li>
        <li>Noções de banco de dados</li>
        <li>Conhecimento em Hardware</li>

    </ul>
</section>

<section style="padding: 1rem;">
    <p>Contato:(69)993532627</p>
    <p>Email: joaovitorlubemarciel123@gmail.com</p>
</section>