@page "/CurriculoFelipe"
@layout Shared.BaseLayout


<PageTitle>Curriculo</PageTitle>


<h2> Currículo  Felipe Miguel Pedro Gilvan</h2>
<img src="fotoFelipe.jpeg" alt="Alternate Text" width="120px" style="border-radius: 120px" />
<section style="padding: 1rem;">
    <h2>Informações Pessoais</h2>
    <p><strong>Nome:</strong> Felipe Miguel Pedro Gilvan</p>
    <p><strong>Idade:</strong> 17 anos e 7 meses</p>
    <p><strong>Formação:</strong> Ensino Médio em andamento</p>
    <p><strong>Instituição:</strong> Instituto Federal Campus Ji-Paraná</p>
    <p><strong>Curso:</strong> Técnico em Informática</p>
    <p><strong>Número:</strong> (69)993709849</p>
    <p><strong>E-mail:</strong> felipemiguel14679@gmail.com</p>
</section>


    <h2>Habilidades</h2>
    <ul>
        <li>Conhecimento básico em programação</li>
        <li>HTML e CSS</li>
        <li>Lógica de programação</li>
        <li>Noções de banco de dados</li>
        <li> trabalho em equipe</li>
        <li>boa comunicação</li>
    </ul>


    
